section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#food-finder-section{
    border: 1px solid black;
    padding: 1rem;

    width:80%;
    margin: auto;
    text-align: center;
}

#food-finder-section form
{
    margin: 0.2rem;
}
#get-food-form > *{
    margin:0.4rem;
}
#food-finder-section h3, 
#food-finder-section p{
    margin:0.4rem;
}