:root {
    --italian-red: #d22e18;
    --italian-green: #1e853b;
    --italian-white: #ffffff;
    --italian-black: #000000;
}

.red-text {
    color: red;
}

.italian-red-text {
    color: var(--italian-red);
}

.italian-green-text {
    color: var(--italian-green);
}

.bold-text {
    font-weight: bold;
}

html {
    background-color: rgb(211, 211, 211);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: var(--italian-white);

    max-width: 900px;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;

}

header {
    background-color: var(--italian-red);
    color: var(--italian-white);
    font-family: 'Playfair Display', serif;

    text-align: center;
    z-index: 1;
}

a {
    color: #eb2121;
}

h1 {
    display: inline-block;
    font-size: 56px;
    color: white;

    padding: 20px 60px;
    margin-right: 120px;

    text-decoration: underline;
    text-decoration-color: var(--italian-green);
}

h2 {
    font-size: 34px;
    text-decoration: underline;
    text-align: center;
    /* text-decoration-color: var(--italian-green); */

}

h3 {
    margin: 1rem;
}

#header-pic {
    width: 120px;
    transition: all 0.8s ease;
    margin-top: 20px;
    animation-delay: 0.5s;

}

#header-pic:hover {
    animation: shaking 0.2s infinite;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.special-text {
    font-family: 'Pacifico', cursive;
    /* ... (other styles) ... */
}

nav {
    background-color: var(--italian-green);
    text-align: center;
    padding: 15px;
}

nav a {
    color: var(--italian-white);
    text-decoration: none;

    position: relative;
    z-index: 1;
}

.nav-icon {
    width: 40px;
    position: absolute;

    z-index: 2;
    bottom: 34px;
    right: 80px;
}

/* Handling the icons, they needed alittle custom position */
#order-online-nav img {
    right: 120px;
}

#menu-nav img {
    right: 45px;
}

#home-nav img {
    right: 40px;
}

#find-food-nav img {
    right: 85px;
}

@media (max-width: 800px) {
    #main-nav img {
        display: none;
    }

    h1 {
        text-align: center;
        margin: 0px;
    }
    .cover-div{
        display: none;
    }
    .index-pic{
        width:100% ;
    }
}
@media (max-width: 500px){
    #main-nav{
        flex-direction: column;
    }
    #main-nav li{
        padding:0.2rem;
    }
}

.cover-div {
    width: 800px;
    left: -80px;
    height: 43px;
    z-index: 3;
    background-color: var(--italian-red);
    bottom: 33px;
    position: absolute;
}

#main-nav {
    list-style-type: none;

    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px;

    justify-content: space-around;
}

#main-nav li {
    margin-left: 40px;
    position: relative;
}

main {
    padding: 1rem;
}

#grid-container {
    display: grid;
    grid-template:
        "a b" auto / 3fr 1fr;
    gap: 0.7rem;
}

#section-1 {
    border: 1px solid blue;
}

#section-2 {
    border: 1px solid red;
}


/* Footer and more things */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p {
    color: var(--italian-black);
}

footer {
    background-color: var(--italian-green);
    color: var(--italian-white);
    text-align: center;
    padding: 10px;
}

footer p {
    font-weight: bold;
    color: var(--italian-white);
    margin: 0.2rem;
}

/* Css for the form */

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 15px;
}


select option {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: var(--italian-red);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem auto;
}

/* Style the submit button on hover */
button:hover {
    filter: brightness(1.1);
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 15px;
}

/* Style the submit button on hover */
input[type="text"]:hover {
    border-color: var(--italian-red);
    /* Change border color on hover */
}

.hide-element {
    opacity: 0;
}

.show-element {
    opacity: 1;

}